APP_ENV=local
LOGGER_ENV=local
OPENAI_API_KEY=<your_openai_api_key>
SERPERDEV_API_KEY=<your_serperdev_api_key>
TAVILY_API_KEY=<your_tavily_api_key>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=<your_langsmith_api_key>
LANGSMITH_PROJECT="MemeGen (Local)"
X_BEARER_TOKEN=<your_x_bearer_token>
X_CLIENT_ID=<your_x_client_id>
X_CLIENT_SECRET=<your_x_client_secret>
X_CONSUMER_KEY=<your_x_consumer_key>
X_CONSUMER_SECRET=<your_x_consumer_secret>
X_ACCESS_TOKEN=<your_x_access_token>
X_ACCESS_TOKEN_SECRET=<your_x_access_token_secret>
PYTHONWARNINGS="ignore::DeprecationWarning"
TOKENIZERS_PARALLELISM=false